<div ng-model="ngModel" class="worksheet-editor">
<div class="tab-block" class="nav nav-pills">
    <ul class="nav nav-pills">
        <li ng-click="showInstruction()" ng-class="{'active': isActiveInstruction }">
            <a><i class="fa fa-info-circle"></i> <i>Инструкция</i> <i class="fa fa-pencil" ng-if="isActiveInstruction"></i></a>
        </li>
        <ul class="nav nav-pills enable-ui-sortable" ui-sortable="updateItemBlock" ng-model="worksheetData.blocks">
            <li ng-repeat="block in worksheetData.blocks track by $index" ng-mouseup="saveIndexDropBlock($index)" ng-click="showEditorBlock($index)"
                ng-class="{'active': worksheetData.blocks[$index].active}">
                <a ng-class="{'active-block': worksheetData.blocks[$index].active && isEditBlock && userBlock.$invalid}"><span
                        class="block-grid"></span> {{$index+1}}. {{block.title}}
                    <i class="fa fa-pencil" ng-show="worksheetData.blocks[$index].active && isEditBlock"></i></a>
            </li>
        </ul>
        <li ng-click="addBlock()"><a>+</a></li>
    </ul>
</div>

<div class="tab-section">
    <div ng-if="isActiveInstruction">
        <text-angular ng-model="defaultWorksheetData.instruction"></text-angular>
    </div>
    <div class="panel-group" ui-sortable="updateItemSection" ng-model="worksheetData.blocks[idActiveBlock].sections">
        <div class="panel panel-default" style="background-color: transparent;"
             ng-class="{'active-section-border': (section.active && isEditSection && userSection.$invalid) || (idCloseSection[$index] && isEditSection && userSection.$invalid)}"
             ng-repeat="section in worksheetData.blocks[idActiveBlock].sections track by $index" ng-show="!isActiveInstruction">
            <div class="panel-heading" ng-mouseup="saveIndexDropSection($index)"
                 ng-class="{'active-section': (section.active && isEditSection && userSection.$invalid) || (idCloseSection[$index] && isEditSection && userSection.$invalid)}">
                <h4 class="panel-title">
                    <a class="accordion-toggle">
                        <span class="section-grid"></span><span ng-click="showEditorSection($index)">{{idActiveBlock+1}}.{{$index+1}}. {{section.title}}  <i
                            class="fa fa-pencil"
                            ng-show="section.active && isEditSection || idCloseSection[$index] && isEditSection"></i></span>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse" ng-show="section.active">
                <div class="panel-body">
                    <div class="tab-question">
                        <div ui-sortable="updateItemQuestion" ng-model="section.questions">
                            <div ng-repeat="question in section.questions track by $index"
                                 ng-class="{'active-question-border': question.active && isEditQuestion && userQuestion.$invalid, 'active-question-background': question.active && isEditQuestion }">
                                <p ng-class="{'active-question': question.active && isEditQuestion && userQuestion.$invalid}"><span
                                        ng-click="showEditorQuestion($index)"><span class="question-grid"></span>{{idActiveBlock+1}}.{{idActiveSection+1}}.{{$index+1}}. <span>{{question.title}}  <i
                                        class="fa fa-pencil" ng-show="question.active && isEditQuestion"></i>
                                      </span></span></p>

                                <div ng-repeat="variant in question.variants" class="{{question.type}} tab-variant">
                                    <label>
                                        <input type="{{question.type}}" name="{{question.id}}"
                                               value="{{variant.score}}">
                                        {{variant.title}}
                                    </label>
                                    <span>{{variant.score}}</span>
                                </div>
                                <div ng-if="question.type == 'input'" class="tab-variant">
                                    <input type="text" class="form-control">
                                </div>
                                <div ng-if="question.type == 'textarea'" class="tab-variant">
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div ng-if="question.type == 'files'" class="form-group tab-variant worksheet-files">
                                    <p>Загрузите
                                        <span ng-if="question.files.accept === 'image'">изображение</span>
                                        <span ng-if="question.files.accept === 'video'">видео</span>
                                        <span ng-if="question.files.accept === 'audio'">аудио</span>
                                        :
                                    </p>

                                    <div ng-repeat="i in getNumberInput(question.files.max) track by $index">
                                        <input type="file" class="form-control" accept="{{ question.files.accept }}/*">
                                    </div>
                                </div>
                                <p class="help-block" ng-if="question.note"><span
                                        class="label label-info">Примечание:</span> {{question.note}}</p>
                            </div>
                            <div class="send-comment">
                                <a ng-click="addQuestion()" class="btn btn-xs btn-default" role="button"><span
                                        class="add-new-section-question"><i class="fa fa-plus"></i>Добавить новый элемент</span></a>
                            </div>
                        </div>
                        <form role="form" class="send-comment" ng-repeat-end
                              ng-hide="!(section.comments)">
                            <h4>Комментарии по разделу анкеты</h4>

                            <div class="form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                            <p class="help-block"><span class="label label-info">Примечание:</span> Предоставьте,
                                пожалуйста, как можно более подробные комментарии, касающиеся этого раздела анкеты</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="send-comment" ng-show="worksheetData.blocks.length && !isActiveInstruction">
        <a ng-click="addSection()" class="btn btn-xs btn-default" role="button"><span
                class="add-new-section-question"><i class="fa fa-plus"></i>Добавить новый элемент</span></a>
    </div>
    <form role="form" class="send-comment"
          ng-hide="!(worksheetData.blocks[idActiveBlock].comments) || isActiveInstruction">
        <h4>Комментарии по блоку анкеты</h4>

        <div class="form-group">
            <textarea class="form-control" placeholder></textarea>
        </div>
        <p class="help-block"><span class="label label-info">Примечание:</span> Предоставьте,
            пожалуйста, как можно более подробные комментарии, касающиеся этого блока анкеты</p>
    </form>
</div>
<div resizable-editor id="panel" class="resizable" ng-show="isEditBlock || isEditSection || isEditQuestion">
    <span class="button-close-editor" ng-click="hideEditorViaButton()" title="Закрыть"></span>

    <div class="edit-blocks" ng-show="isEditBlock">
        <form name="userBlock" novalidate>
            <div class="form-group" ng-class="{'has-error': userBlock.name.$invalid}">
                <input name="name" ng-change="changeBlock()" type="text" class="form-control" ng-model="nameEditBlock"
                       required>

                <p ng-show="userBlock.name.$error.required" class="help-block">Имя слишком короткое</p>
            </div>
            <div class="form-group" ng-show="debug" ng-class="{'has-error': userBlock.id.$invalid}" ng-if="!isCertification">
                <label for="block-id">ID</label>

                <div class="col-sm-10">
                    <input name="id" ng-change="changeBlock()" popover-placement="left" popover="Для разработчиков"
                           popover-trigger="focus" type="text" class="form-control input-sm" id="block-id"
                           ng-model="idEditBlock" required>
                </div>
                <p ng-show="userBlock.id.$error.required" class="help-block">Идентификатор слишком короткий</p>
            </div>
            <div class="checkbox" ng-show="!isCertification">
                <label><input type="checkbox" ng-change="changeBlock()" ng-model="existEditCommentBlock">
                    Разрешить комментарии к блоку
                </label>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="btn btn-warning" ng-click="clickButtonCancel('editBlock')" type="button" value="Отменить"
                           ng-disabled="disabledCancel">
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="btn btn-danger" type="button" value="Удалить" ng-click="deleteBlock()">
                </div>
            </div>
        </form>
    </div>
    <div class="edit-sections" ng-show="isEditSection">
        <form name="userSection" novalidate>
            <div class="form-group" ng-class="{'has-error': userSection.name.$invalid}">
                <textarea name="name" ng-change="changeSection()" class="form-control" ng-model="nameEditSection"
                          rows="2" required></textarea>

                <p ng-show="userSection.name.$error.required" class="help-block">Имя слишком короткое</p>
            </div>
            <div class="form-group" ng-show="debug" ng-class="{'has-error': userSection.id.$invalid}" ng-if="!isCertification">
                <label for="section-id">ID</label>

                <div class="col-sm-10">
                    <input type="text" name="id" class="form-control input-sm" ng-change="changeSection()"
                           popover-placement="left" popover="Для разработчиков" popover-trigger="focus" id="section-id"
                           ng-model="idEditSection" required>
                </div>
                <p ng-show="userSection.id.$error.required" class="help-block">Идентификатор слишком короткий</p>
            </div>
            <div class="checkbox" ng-show="!isCertification">
                <label><input type="checkbox" ng-change="changeSection()" ng-model="existEditCommentSection">
                    Разрешить комментарии к разделу
                </label>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="btn btn-warning" ng-click="clickButtonCancel('editSection')" type="button" value="Отменить"
                           ng-disabled="disabledCancel">
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="btn btn-danger" type="button" value="Удалить" ng-click="deleteSection()">
                </div>
            </div>
        </form>
    </div>
    <div class="edit-questions" ng-show="isEditQuestion">
        <form role="form" name="userQuestion" novalidate>
            <div class="form-group" ng-class="{'has-error': userQuestion.name.$invalid}">
                <textarea class="form-control" ng-change="changeQuestionTitle()" name="name" ng-model="nameEditQuestion"
                          rows="2" required></textarea>

                <p ng-show="userQuestion.name.$error.required" class="help-block">Имя слишком короткое</p>
            </div>
            <div>
                <div class="form-group">
                    <label for="type-edit-question">Тип</label>
                    <select class="form-control" ng-change="changeQuestion()" ng-model="editTypeQuestion"
                            id="type-edit-question">
                        <option value="radio">Один из нескольких</option>
                        <option value="checkbox">Несколько из нескольких</option>
                        <option value="input" ng-if="!isCertification">Строка</option>
                        <option value="textarea" ng-if="!isCertification">Несколько строк</option>
                        <option value="files" ng-if="!isCertification">Файлы</option>
                    </select>
                </div>
                <div ng-if="editTypeQuestion === ('files')">
                    <ng-form name="userFiles">
                        <div class="form-group">
                            <label for="accept-edit-question">Вид</label>
                            <select class="form-control" ng-model="currentFiles.accept" ng-change="changeAnswer(); currentFiles.max = 1"
                                    id="accept-edit-question">
                                <option value="image">Изображение</option>
                                <option value="video">Видео</option>
                                <option value="audio">Аудио</option>
                            </select>
                        </div>
                        <div class="form-group" ng-class="{'has-error': userFiles.max.$invalid}">
                            <label for="max-edit-question">Максимальное кол. элементов</label>
                            <input type="number" class="form-control" name="max" ng-model="currentFiles.max" ng-change="changeAnswer()"
                                   min="1" max="10" id="max-edit-question" ng-disabled="currentFiles.accept !== 'image'" required>

                            <p ng-show="userFiles.max.$error.required" class="help-block number">Должно быть число</p>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="requiredFiles" name="requiredFiles" ng-model="currentFiles.required"
                                           ng-true-value="true">
                                    Поле обязательное к заполнению
                                </label>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <!-- Шаблоны
                <div class="form-group"
                     ng-hide="editTypeQuestion === ('textarea') || editTypeQuestion === ('input') || editTypeQuestion === ('files')">
                    <label for="template-add-question">Шаблон</label>
                    <select ng-model="templateAnswer" ng-change="changeTemplateAnswer()" id="template-add-question"
                            class="form-control">
                        <option ng-repeat="template in variants" value="{{template.id}}">
                            {{template.title}}
                        </option>
                    </select>
                </div>
                -->
                <div class="form-group answer-editor"
                     ng-repeat="variant in worksheetData.blocks[idActiveBlock].sections[idActiveSection].questions[idActiveQuestion].variants track by $index">
                    <ng-form class="input-answer" name="userAnswer">
                        <div class="text-answer" ng-class="{'has-error': userAnswer.answer.$invalid}">
                            <input type="text" ng-change="changeAnswer()" name="answer" ng-model="variant.title"
                                   placeholder="Имя" class="form-control" value="{{variant.title}}" required>

                            <p ng-show="userAnswer.answer.$error.required" class="help-block">Имя слишком короткое</p>
                        </div>
                        <div class="score-answer" ng-class="{'has-error': userAnswer.score.$invalid}">
                            <input type="number" ng-change="changeAnswer()" ng-model="variant.score" name="score"
                                   class="form-control" value="{{variant.score}}" ng-if="!isCertification" required>
                            <input type="number" ng-change="changeAnswer()" ng-model="variant.score" name="score"
                                   class="form-control" value="{{variant.score}}" min="0" max="1" ng-if="isCertification" required>
                            <p ng-show="userAnswer.score.$error.required" class="help-block number">Должно быть
                                число</p>
                            <p ng-show="userAnswer.score.$error.max" class="help-block number">Максимальное число 1</p>
                            <p ng-show="userAnswer.score.$error.min" class="help-block number">Минимальное число 0</p>
                        </div>
                        <div class="delete-answer">
                            <button class="btn btn-danger" type="button" ng-click="addDeleteAnswer($index)">x</button>
                        </div>
                    </ng-form>
                </div>
                <div class="form-group">
                    <button type="button" ng-click="addAnswer($index)" class="btn btn-default add-option"
                            ng-hide="editTypeQuestion === ('textarea') || editTypeQuestion === ('input') || editTypeQuestion === ('files')">
                        Добавить вариант
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="btn btn-warning" ng-click="clickButtonCancel('editQuestion')" type="button" value="Отменить"
                           ng-disabled="disabledCancel">
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="btn btn-danger" type="button" value="Удалить" ng-click="deleteQuestion()">
                </div>
            </div>
        </form>
    </div>
    <alert type="danger" ng-hide="valid()">Открытие панели для другого элемента недоступно.</alert>
</div>
<div class="mini-panel" ng-hide="isEditBlock || isEditSection || isEditQuestion">
    <span class="button-open-editor" title="Открыть" ng-click="showEditorViaButton()"></span>
</div>
</div>