<!DOCTYPE html>
<html ng-app="editorTestApp">
<head>
  <meta charset="utf-8">
  <title>List</title>
  <link rel="stylesheet" href="../public/lib/bootstrap-css-only/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/lib/font-awesome-css/css/font-awesome.min.css">
  <link rel="stylesheet" href="../dist/css/worksheet-editor.min.css">
  <script src="../public/lib/jquery/dist/jquery.min.js"></script>
  <script src="../public/lib/jquery-ui/jquery-ui.min.js"></script>
  <script src="../public/lib/angular/angular.min.js"></script>
  <script src="../public/lib/angular-resource/angular-resource.min.js"></script>
  <script src="../public/lib/less/dist/less-1.7.0.min.js"></script>
  <script src="../public/lib/angular-ui-sortable/sortable.min.js"></script>
  <script src="../public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../src/worksheet-editor.js"></script>
  <script>
    var editorTestApp = angular.module('editorTestApp', ['worksheet-editor']);

    editorTestApp.controller('EditorTestListCtrl', function ($scope, $resource) {
        var Editor = $resource('examples/data/worksheet-editor.json');
        $scope.data = Editor.get();
    });
  </script>
</head>
<body ng-controller="EditorTestListCtrl">
  <div class="container">
    <worksheet-editor ng-model="data"></worksheet-editor>
  </div>
</body>
</html>