@grid-img:"worksheet-editor.png";
@active-element-panel: #FF1F00;
@button-on-panel: gainsboro;
@button-on-panel-hover: #fc6;
@background-tab-and-panel: #eee;
@resizable-panel: gray;
@panel-question-font-border: white;

.worksheet-editor .nav, 
.worksheet-editor .pagination, 
.worksheet-editor .carousel, 
.worksheet-editor .panel-title a { 
  cursor: pointer; 
}

.worksheet-editor .navbar-default {
  z-index: 0;
}

.worksheet-editor .tab-section {
  margin-top: 10px;
  word-break: break-word;
}

.worksheet-editor .tab-block {
  word-break: break-word;
}

.worksheet-editor .tab-block li {
  margin: 3px 0;
}

.worksheet-editor .col-xs-6.col-md-6 > input {
  margin-bottom: 10px;
}

.worksheet-editor div.col-sm-10 {
  display: inline-block;
  float: none;
}

.worksheet-editor .worksheet-files p {
  margin-bottom: 2px !important;
}

.worksheet-editor .worksheet-files input {
  margin-bottom: 2px;
}

.worksheet-editor .tab-variant {
  margin-left: 30px;

  > span {
    float: right;
    font-size: 12px;
  }
}

.worksheet-editor .tab-question > a:hover {
  cursor: pointer;
}

.worksheet-editor .tab-question > div > div {
  padding-bottom: 5px;
  margin: 5px 0;
  border: 1px solid @panel-question-font-border;
}

.worksheet-editor .row > div {
  text-align: center;
}

.worksheet-editor textarea {
  resize: vertical;
}

.worksheet-editor .send-comment {
  margin: 20px 0;
}

.worksheet-editor  span.label.label-info {
  margin-left: 3px;
}

.worksheet-editor .input-answer{
  margin-left: 1%;
  & > div {
    display: inline-block;
    vertical-align: top;
  }
}

.worksheet-editor .text-answer {
  width: 260px;
  margin-right: 3px;
}

.worksheet-editor .tab-block .enable-ui-sortable:after {
  display: inline;
}

.worksheet-editor .score-answer {
  width: 60px;
  margin-right: 3px;
}
.worksheet-editor .delete-answer {
  width: 34px;
  & button {
    vertical-align: inherit;
    width: 100%;
  }
}

.worksheet-editor .add-option {
  width: 100%;
  margin-top: 10px;
}

.worksheet-editor .block-grid {
  width: 20px;
  height: 20px;
  margin: 3px 0 0 0;
  background: url("@{grid-img}") 0 0;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    background: url("@{grid-img}") 0 -30px;
    cursor: all-scroll;
  }
}
.worksheet-editor .section-grid {
  width: 20px;
  height: 20px;
  margin: 3px 10px 0 0;
  background: url("@{grid-img}") 0 0;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    background: url("@{grid-img}") 0 -30px;
    cursor: all-scroll;
  }
}

.worksheet-editor .question-grid {
  width: 20px;
  height: 20px;
  margin: 5px;
  background: url("@{grid-img}") 0 0;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    background: url("@{grid-img}") 0 -30px;
    cursor: all-scroll;
  }
}

.worksheet-editor .fa.fa-plus-circle.icon-add {
  margin-top: 4px;
  float: right;
  
  &:hover {
    cursor: pointer;
  } 
}

.worksheet-editor .resizable
{
  right: 0;
  top: 0;
  bottom: 0;
  left: 70%;
  background-color: @background-tab-and-panel;
  padding: 70px 10px;
  height: 100%;
  margin: 0 auto;
  z-index: 9999;
  position: fixed;
}
.worksheet-editor .resizable > div {

  & > input:first-of-type {
    margin-bottom: 10px;
  }
}
.worksheet-editor .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  background: @resizable-panel;
  z-index: 9999;
}
.worksheet-editor .ui-resizable-disabled .ui-resizable-handle,
.worksheet-editor .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.worksheet-editor .ui-resizable-w {
  cursor: w-resize;
  width: 5px;
  left: -5px;
  top: 0;
  height: 100%;
}

.worksheet-editor .button-close-editor {
  position: absolute;
  top: 46.5%;
  left: -7px;
  z-index: 9999;
  height: 50px;
  width: 9px;
  background: @button-on-panel;
  &:hover {
    background: @button-on-panel-hover;
    cursor: pointer;
  }
}

.worksheet-editor .mini-panel {
  position: fixed;
  background: @resizable-panel;
  font-size: 0.1px;
  right: 0;
  height: 100%;
  width: 5px;
  top: 0;
  z-index: 1100;
}

.worksheet-editor .button-open-editor {
  width: 9px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 10px;
  bottom: 0;
  right: 0;
  z-index: 1100;
  background: @button-on-panel;
  &:hover {
    background: @button-on-panel-hover;
    cursor: pointer;
  }
}

.worksheet-editor .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.worksheet-editor .help-block.number {
  font-size: 10px;
}

.worksheet-editor .add-new-section-question{
  vertical-align: middle;
}

.worksheet-editor .resizable input.input-sm {
  width: 33.3%;
}

.worksheet-editor span i.fa-plus {
  margin-right: 5px;
}

.worksheet-editor .active-question-background {
  background-color: @background-tab-and-panel;
}

.worksheet-editor .active-block {
  background-color: @active-element-panel !important;
}

.worksheet-editor .active-section {
  background-image: none;
  background-color: @active-element-panel !important;
}

.worksheet-editor .active-section-border {
  border-color: @active-element-panel !important;
}

.worksheet-editor .active-question {
  background-color: @active-element-panel !important;
  color: @panel-question-font-border;
}

.worksheet-editor .active-question-border {
  border: 1px solid @active-element-panel !important;
  border-radius: 3px;
}